flows.json
[{"id":"fde0aef1.ddf62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94591c90.1ee58","type":"function","z":"fde0aef1.ddf62","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":260,"wires":[["efa57160.c2869"]],"l":false},{"id":"3a075260.53cd3e","type":"function","z":"fde0aef1.ddf62","name":"bot","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":280,"wires":[["a5e7f395.d7d73","c9593ace.44ed38"]],"l":false},{"id":"c9593ace.44ed38","type":"debug","z":"fde0aef1.ddf62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":735,"y":400,"wires":[],"l":false},{"id":"f93fbc14.ca1a7","type":"inject","z":"fde0aef1.ddf62","name":"","topic":"hi","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":115,"y":120,"wires":[["94591c90.1ee58"]],"l":false},{"id":"70ae9282.1f6a0c","type":"ui_form","z":"fde0aef1.ddf62","name":"","label":"","group":"52184463.8bc41c","order":2,"width":0,"height":0,"options":[{"label":"enter text here","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":115,"y":400,"wires":[["94591c90.1ee58"]],"l":false},{"id":"1ff7892d.adcf47","type":"ui_text","z":"fde0aef1.ddf62","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"a5e7f395.d7d73","type":"ui_text","z":"fde0aef1.ddf62","group":"52184463.8bc41c","order":3,"width":"6","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":715,"y":180,"wires":[],"l":false},{"id":"efa57160.c2869","type":"watson-conversation-v1","z":"fde0aef1.ddf62","name":"chatbot","workspaceid":"061dbf82-8caa-4577-aee6-e81a4010c7b6","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6a7b9d16-968f-4459-8687-1565524547ce","timeout":"","optout-learning":false,"x":460,"y":100,"wires":[["3a075260.53cd3e"]]},{"id":"52184463.8bc41c","type":"ui_group","z":"","name":"Default","tab":"8198ae5d.3e8d9","order":1,"disp":true,"width":"6","collapse":false},{"id":"8198ae5d.3e8d9","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]